body,p,ul,li,h1,h2,h3,h4,{margin: 0px;padding:0px;}
body{background-color: #F4F4F4;}


/* 搜索 */
.nav{background-color: #FF6801;text-align: center;color: white;padding-top: 10px;}
.enter{padding-top: 40px;background-color: white;}
.enter span{font-size: 1.2rem;line-height: 4rem;}
.enter span:nth-child(1){padding-left: 15px;}
.enter span:nth-child(2){float: right;padding-right: 8px;}

/*cart*/
.cart{text-align: center;line-height: 50px;background-color: white;border-top: 1px solid #EAEAEA;margin-bottom:10px;}
.cart span:nth-child(1){color: #BCBCCD;}
.cart span:nth-child(2) a{color: black; margin-left: 5px;}

/*recommend*/
.recommend{text-align: center; background-color: white;line-height: 30px;}

/*left right*/
.left{width: 49.5%;height: 500px;background-color: white;float: left;}
.right{width: 49.5%;height: 500px;background-color: white;float: right;}
figcaption{margin-left: 20px;}
figure figcaption:nth-child(3){color: darkred;}
/*footer*/
.footer{width: 100%;height: 40px;background-color: white;display: flex;flex-direction: row;flex-wrap: wrap;justify-content: space-around;padding-top: 3px;}
.footer a{padding-top: 5px;width: 20px;height: 20px;background-image: url(img/mimall/spr1.png);background-size: 100%;}
.footer img{width: 90%;}
.footer span{color: black;font-size: 0.9rem;position: relative;top: 10px;}
.footer a:nth-child(1){background-position: 0px 180px;}
.footer a:nth-child(2){background-position: 0px 300px;}
.footer a:nth-child(3){background-position: 0px 120px;}
.footer a:nth-child(4){background-position: 0px 60px;}

.footer a:nth-child(3) span{color: #F56A00;}



